/* Background color */
body {
    background-color: lightblue;
    font-family: Arial, sans-serif;
    text-align: center;
    padding-top: 50px;
    margin: 0;
}

/* Button styling. Kepp this the way it is */
button {
    background-color: #04AA6D; /* green. if you guys want to change
    it just change the word green to that color to stay organized */
    color: rgb(255, 213, 203);
    padding: 15px 32px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background-color: #028a5e;
}

h1 {
    color: #333;
}

p {
    color: #222;
}

/* Canvas styling */
#cube-container {
    width: 400px;
    height: 400px;
    margin: 50px auto;
}


